@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  margin: 0;
  background-image: url(image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


/* navigacia */
.a{
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-weight: bold;
}
.nav_p{
    font-size: larger;
    font-weight: bolder;
}
.nav{
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 0;
    font-size: larger;
    font-weight: bold;
    background-color: rgba(112, 112, 112, 0.067);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    border-radius: 60px;
    margin: 10px;
    backdrop-filter: blur(5px);
    flex-flow: row wrap;
    background-color: rgba(255, 255, 255, 0.211);
    backdrop-filter: blur(10px);
    z-index: 1;
}
nav{
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}
.nav_container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.GOA-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(134, 134, 134, 0.067);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-weight: bold;
}


/* pictures */

.products_pics{
    width: 400px;
    padding: 40px;
}

.pics{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 200px;
}


.products_pics:hover{
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.903);
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    padding: 40px;
}




/* courses */



.products_div1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 40px;
    margin-top: 200px;
}
.products_p1{
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    text-shadow: 3px 3px 10px rgb(149, 149, 149);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 40px;
    border-radius: 50px;
    width: 60%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.211);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
    font-weight: bolder;
}


li{
    font-weight: bold;
    font-size: 25px;
}

ul{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 35px;
    width: 80%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.211);
    backdrop-filter: blur(10px);
    border-radius: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
    font-weight: bolder;
}




#products_div2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 40px;
    margin: 0 auto;
}

#products_div2{
    margin-top: 250px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    text-shadow: 3px 3px 10px rgb(149, 149, 149);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 40px 60px;
    width: 60%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.211);
    backdrop-filter: blur(10px);
    border-radius: 70px;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
    font-weight: bolder;
}


.products_div3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 20px;
    margin: 0 auto;
    cursor: default;
}
.products_div3{
    margin-top: 200px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    text-shadow: 3px 3px 10px rgb(149, 149, 149);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 40px;
    width: 60%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.211);
    backdrop-filter: blur(10px);
    border-radius: 70px;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
    font-weight: bolder;
    cursor: default;
}




#courses_h1{
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 3px 3px 10px rgb(149, 149, 149);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 30px;
    width: 60%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.0067);
    backdrop-filter: blur(10px);
    border-radius: 70px;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
}






/* courses - button */

.products_but{
    margin: 30px;
    margin-bottom: 50px;
    margin-left: 8%;
    border: 1px solid #f9f9f900;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 16px 26px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(190, 79, 190, 0.346);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.66);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.211);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
    font-weight: bolder;
}
/* #0066CC */
/*  #0071E3 */
.products_but:active{
    margin: 30px;
    margin-bottom: 50px;
    margin-left: 8%;
    border: 1px solid #f9f9f900;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 16px 26px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    transform: translateY(2px);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.211);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
    font-weight: bolder;
}






/* Contact - form */
.contact_div{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_form{
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 1px;
    background-color: rgba(255, 255, 255, 0.211);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: 100;
}
input{
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: rgb(90, 90, 90);
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
}
textarea{
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: rgb(90, 90, 90);
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
}

textarea::placeholder{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
input::placeholder{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.contact_but{
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: rgb(90, 90, 90);
    padding: 12px;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.contact_but:hover{
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    color: rgb(90, 90, 90);
    padding: 12px;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
}
.contact_but:active{
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    color: rgb(90, 90, 90);
    padding: 12px;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
}


input:focus,
textarea:focus{
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    color: rgb(90, 90, 90);
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
}






.contact_form{
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 1px;
    background-color: rgba(255, 255, 255, 0.211);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: 100;
}


/* footer */


.foot{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    text-align: center;
    padding: 20px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.211);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.502);
    font-weight: bolder;
    margin: 50px;
    margin-top: 100px;
    font-size: larger;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    cursor: default;
}