body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.par{
    width: 200px;
    height: 200px;
    background-color: rgb(112, 0, 0);
    display: flex;
    justify-content: right;
    align-items: center;
}

.chi{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 109, 4);
}