/* loading bar */

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column wrap;
    color: rgb(0, 141, 141);
}
.border{
    width: 200px;
    height: 50px;
    border: 5px solid rgb(0, 141, 141);
    border-radius: 30px;
    background-color: aqua;
    overflow: hidden;
}

.bar{
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  animation: loading-animation 5s ease-in-out infinite
}

@keyframes loading-animation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100%);
  }
}