body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column wrap;
}

.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(55, 55, 55);
    animation: bounce-animation 2s ease-in-out infinite;
}

@keyframes bounce-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}