body{
    background-color: rgb(127, 189, 255);
}

#header1{
    font-size: 40px;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 20px 20px;
}

#header2{
    color: #34495e;
    text-align: center;
}

.id_class{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    border-radius: 30px;
    padding: 15px 15px;
}

.button {
    background-color: #27ae60;
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
}