.blue{
    background-color: blue;
    width: 500px;
    height: 500px;
}
.red{
    background-color: red;
    width: 50%;
    height: 50%;
}
.green{
    background-color: green;
    width: 50%;
    height: 50%;
}