@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: rgb(220, 220, 220);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.nav{
    text-align: left;
    border: 0.5px solid rgb(170, 170, 170);
    background-color: rgb(210, 210, 210);
    padding: 0px 20px;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    height: 140px;
    box-shadow: 0px 5px 15px rgb(150, 150, 150);
}

.nav_h{
    font-size: 35px;
    color: #1f5aa7;
    font-weight: bold;
    cursor: default;
}



a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


a:hover{
    color: #1f5aa7;
}


.container{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.container h1{
    color: #1f5ba7;
}

.container p{
    color: #333;
}

.products-container{
    width: 40%;
}

.product-card{
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.product-card:hover{
    box-shadow: 0px 5px 15px rgb(0, 0, 1);
}

.product-card h3{
    color: #1f5ba7
}

.product-card p{
    color: #666;
    font-size: 13px;
}

.form{
    width: 600px;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 8px;
}

label{
    font-weight: bold;
    color: #333;
}


.form-group input,
.form-group textarea{
    width: 70%;
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}



.form-group button{
    background-color: #1f5ba7;
    color: white;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.form-group button:hover{
    background-color: #164080;
}


.products-container, .product-card, .container{
    cursor: default;
}

.learn_more{
    background-color: #1f5ba7;
    color: white;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.learn_more:hover{
    background-color: #164080;
}



/* img */


.main_img{
    width: 90%;
    border-radius: 20px;
}