/* cw1 */

body{
    background-color: black;
    color: white;
}

.cover{
    background-image: url(image1.png);
    background-size: cover;
}

.contain{
    background-image: url(image1.png);
    background-size: contain;
}


