@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    background-color: black;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}


nav{
    background-color: rgb(224, 145, 0);
    height: 100px;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
}
nav a:hover{
    color: rgb(211, 211, 211);
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 10px;
}

.content{
    background-color: rgb(210, 210, 210);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    text-shadow: 0px 0px 5px rgb(111, 111, 111);
    width: 60%;
}

img{
    color: white;
    margin: 20px;
    width: 300px;
    border-radius: 30px;
}