
body{
    background-color: rgb(167, 167, 167);
}



/* 0) */
.group{
    border: 3px solid rgb(142, 117, 59);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    background-color: rgb(205, 184, 140);
    text-align: center;
}
.ul1{
    list-style-type: circle;
    list-style-position: outside;
}



/* 1) */
.cars{
    border: 3px solid rgb(59, 124, 152);
    border-radius: 30px;
    width: 300px;
    height: 200px;
    background-color: rgb(137, 184, 206);
    text-align: center;
}
.ol1{
    list-style-type: upper-roman;
    list-style-position: outside
}



/* 2) */
.form1{
    border: 3px dotted rgb(120, 0, 0);
    border-radius: 30px;
    width: 300px;
    height: 250px;
    background-color: rgb(194, 90, 90);
    text-align: center;
}
#input1{
    color: rgb(112, 0, 0);
}
#input2{
    color: rgb(2, 0, 92);
}
#input3{
    color: rgb(0, 78, 18);
}
.button1{
    background-color: rgb(140, 0, 0);
    color: rgb(255, 180, 180);
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button1:hover{
    background-color: rgb(120, 0, 0);
}
.button1:active{
    background-color: rgb(100, 0, 0);
}



/* 3) */
.form2{
    border: 3px dashed rgb(0, 71, 36);
    border-radius: 30px;
    width: 400px;
    height: 530px;
    background-color: rgb(110, 200, 155);
    text-align: center;
}
.button2{
    background-color: rgb(0, 90, 43);
    color: rgb(167, 255, 210);
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button2:hover{
    background-color: rgb(0, 70, 30);
}
.button2:active{
    background-color: rgb(0, 60, 25);
}

.input[type="text"], .input[type="number"],
.input[type="email"], .input[type="date"],
.input[type="color"], .input[type="password"]
{
    width: 150px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid rgb(0, 50, 25);
    text-align: center;
}
.input[type="radio"]{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.input[type="color"]{
    width: 50px;
    height: 30px;
    border: none;
    cursor: pointer;
}