#big_div{
    border: 2px solid;
    background-color: rgb(202, 96, 96);
    padding: 10px;
    border-radius: 30px;
}
img{
    border-radius: 20px;
    width: 500px;
}
body{
    text-align: center;
    background-color: rgb(0, 67, 0); /* GOA-s feri */
    font-weight: bold;
}