@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: black
}
/*
2) შექმენით საიტი სადაც იქნება 2 ცალი p თეგი ერთი იქნება შუაში, წითელი და ქვევით ხაზი ექნება გაწერილი,
მეორე იქნება მარჯვნივ, ლურჯი და ქვევითაც და ზევითაც ექნება ხაზი, ასევე დააექსპორტეთ font-ის სტილი Poppins და მიეცით ორივე p თეგს

3) შექმენით საიტი სადაც იქნება 4 ცალი p თეგი, ოთხივე იქნება ცისფერი, ხოლო 2 იქნება მარცხნივ და 2 მარჯვნივ,
მარცხენა მხარეზე მყოფებს ექნებათ შუაში ხაზი გავლებული, მარჯვენა მხარეზე მყოფებს ზევით ექნებათ გავლებული

4) შექმენით საიტი რომლის უკანა ფერიც იქნება შავი, მასში იქნება 6 p თეგი, 2 მარცხნივ, 2 შუაში, 2 მარჯვნივ,
მარცხენა მხარეს მყოფები იქნება თეთრი და ქვევით ექნებათ გახაზული ხაზი, შუაში მყოფები იქნება ლურჯი და შუაში ექნებათ გახაზული ხაზი,
ხოლო მარჯვენა მხარეს მყოფები იქნება წითელი და ზევით ექნება გავლებული ხაზი
*/



/* 2) */
#p1{
    text-align: center;
    color: red;
    text-decoration: wavy underline;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
#p2{
    text-align: right;
    color: blue;
    text-decoration: dashed underline overline;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}


/* 3) */
#pp1{
    color: aqua;
    text-align: left;
    text-decoration: line-through;
}
#pp2{
    color: aqua;
    text-align: left;
    text-decoration: line-through;
}
#pp3{
    color: aqua;
    text-align: right;
    text-decoration: overline;
}
#pp4{
    color: aqua;
    text-align: right;
    text-decoration: overline;
}


/* 4) */
#ppp1{
    text-align: left;
    color: white;
    text-decoration: underline;
}
#ppp2{
    text-align: left;
    color: white;
    text-decoration: underline;
}
#ppp3{
    text-align: center;
    color: blue;
    text-decoration: line-through;
}
#ppp4{
    text-align: center;
    color: blue;
    text-decoration: line-through;
}
#ppp5{
    text-align: right;
    color: red;
    text-decoration: overline;
}
#ppp6{
    text-align: right;
    color: red;
    text-decoration: overline;
}