body{
    background-color: rgb(167, 0, 0);
}
.box{
    background-color: rgb(77, 7, 7);
    width: 500px;
    height: 500px;
}
.box1{
    background-color: rgb(65, 6, 6);
    width: 20%;
    height: 20%;
}
.box2{
    background-color: rgb(74, 16, 16);
    width: 20%;
    height: 20%;
}
.box3{
    background-color: rgb(95, 29, 29);
    width: 20%;
    height: 20%;
}
.box4{
    background-color: rgb(102, 39, 39);
    width: 20%;
    height: 20%;
}
.box5{
    background-color: rgb(129, 65, 65);
    width: 20%;
    height: 20%;
}