body{
    background-color: rgb(63, 63, 66);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
/* https://images-ext-1.discordapp.net/external/f6mbQBrpVhXlTW7jokpGfN5d2gfkJaFP5knSkjVQyRE/https/media.tenor.com/7HCfkcNy5Z0AAAPo/cube-animation.mp4 */
.cube{
    height: 20px;
    width: 20px;
    background-color: rgb(95, 128, 226);
    animation: cube_loading 3s ease-in-out infinite;
}

.both{
    display: flex;
    gap: 30px;
    animation: loading 3s linear infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes cube_loading{
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(0.5);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}