body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.burti {
    width: 40px;
    height: 40px;
    background-color: orange; 
    border-radius: 50%;
    animation: orbit 2s linear infinite;
}

@keyframes orbit{
    0% {
        transform: rotate(360deg) translateX(200px) rotate(0deg);
    }

    100% {
        transform: rotate(0deg) translateX(200px) rotate(-360deg);
    }
}